body {
  font-family: Arial, Helvetica, sans-serif
}

button {
  background-color: paleturquoise;
  color: black;
  border-radius: 3px;
  padding: 5px;
  border: none;
}

button:hover {
  background-color: mediumturquoise;
}